.app-container{
	width: 95%;
	padding: 0 15px;
	margin: 0 auto;

}
.album-image{
	width: 100px;
	height: 100px;
}
.album-card{
	background-color: $darkgray;
	margin: 15px;
	color: white;
	padding: 17px;
	display: flex;
	justify-content: flex-start; 
}
.album-details-container{
	margin-left: 20px;
}
.album-container{
	height: 100vh;
	overflow: scroll;
	position: relative;
}
.nav-icon{
	width: 30px;
}
.track-nav{
	top: 0px;
	width: 100%;
	margin-bottom: 15px;
	border-bottom: 2px solid $brand-color;
}
.track-album-container{
	margin: 30px 15px;
	background-color: $black;
}
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: $black;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: $black;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $brand-color;
}
.track-search{
	color: white;
	font-size: 1.5em;	
}
.album-tracks{
	display: none;
}