.app-container{
	width: 95%;
	padding: 0 15px;
	margin: 0 auto;
	height: calc(100vh - 50px);
}
.album-image{
	width: 100px;
	height: 100px;
}
.artist-image{
	width: 150px;
	height: 150px;
}
.album-card{
	background-color: $darkgray;
	margin: 15px;
	color: white;
	padding: 17px;
	display: flex;
	justify-content: flex-start; 
}
.album-details-container{
	margin-left: 20px;
}
.album-container{
	height: 100vh;
	overflow: scroll;
	position: relative;
	margin-top: 15px;
}
.nav-icon{
	width: 30px;
}
.track-nav{
	top: 0px;
	width: 100%;
	margin-bottom: 15px;
	border-bottom: 2px solid $brand-color;
}
.track-album-container{
	margin: 30px 15px;
	background-color: $black;
}
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: $black;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: $black;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $brand-color;
}
.album-tracks{
	display: none;
}
.track{
	color: white;
}
.setlist-track{
	color: white;
	padding: 10px;
	border-bottom: 1px solid $darkgray;

}
.setlist-sidebar{
	background-color: $darkgray;
	padding: 10px;
	margin-top: 15px;
}
.setlist-details{
	display: flex;
	justify-content: flex-start;
	padding: 20px 20px 20px 20px;
	border-bottom: 2px solid $brand-color;
}
.artist-details{
	margin-left: 20px;
	padding: 5px;

	h1{
		color: white;
		margin-top: 0px;
	}
	h2{
		color: white;
	}
	li{
		color: $ltgray;
		font-size: 0.7em;
	}
}
.track-album{
	display: inline;
	font-size: 0.8em;
	color: $ltgray;

}
.btn-back-fade{
	// background: linear-gradient(to bottom, black, $darkgray 25%, $darkgray 75%, black 100%);
		background: linear-gradient(-168deg, black, $darkgray 100%);

	background-color: $darkgray;
	// border-color: $darkgray;
	border-color: black;
	color: $brand-color;
}
.btn-back-fade:hover{
	background: black;
	color: $brand-color;
	border-color: black;
}
.top-margin{
	margin-top: 50px;
}
.tracks-container{
	overflow-y: scroll;
	height: calc(100vh - 80px);
	background-color: black;
	margin: 15px 0;
}