.align-verticle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column{
	flex-direction: column;
}


.app-container{
	padding: 0 15px;
	margin: 0 auto;
	height: calc(100vh - 50px);
}
.app-background{
	background-color: $black;

}
.album-image{
	width: 100px;
	height: 100px;
}
.artist-image{
	width: 150px;
	height: 150px;
}
.album-card{
	background-color: $black;
	margin: 15px;
	color: white;
	padding: 17px;
	display: flex;
	justify-content: flex-start; 
}
.album-details-container{
	margin-left: 20px;
}
.album-container{
	height: 100%;
	overflow-y: scroll;
	position: relative;
	margin-top: 15px;
	padding: 15px;
	h2{
		color: white;
	}
	a{
		color: white;
	}
	a:hover{
		color: white;
	}
}
.setlist-actions{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 14px;
	background-color: black;
	padding: 15px;
	p{
		margin-bottom: 0px;
	}
}
.nav-icon{
	width: 30px;
}
.track-nav{
	top: 0px;
	width: 100%;
	margin-bottom: 15px;
	border-bottom: 2px solid $brand-color;
}
.track-album-container{
	margin: 30px 15px 0 15px;
	background-color: black;
	height: 80vh;
	display: flex;
	flex-direction: column;
}
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: black;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: black;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $brand-color;
}
.album-tracks{
	display: none;
}
.track{
	color: white;
}
#setlist-tracks{
	color: white;
}
.setlist-track{
	color: white;
	margin-bottom: 10px;
	border-bottom: 1px solid $darkgray;
	display: block;

}
.setlist-sidebar{
	background-color: $black;
	padding: 10px;
	margin-top: 15px;
}
.setlist-details{
	display: flex;
	justify-content: flex-start;
	padding: 20px 20px 20px 20px;
	border-bottom: 2px solid $brand-color;
}
.artist-details{
	margin-left: 20px;
	padding: 5px;

	h1{
		color: white;
		margin-top: 0px;
	}
	h2{
		color: white;
	}
	li{
		color: $ltgray;
		font-size: 0.7em;
	}
}
.track-album{
	display: inline;
	font-size: 0.7em;
	color: #B5B5B5 !important;

}
.btn-back-fade{
	background: linear-gradient(-168deg, black, $darkgray 100%);
	background-color: $darkgray;
	border-color: black;
	color: $brand-color;
}
.btn-back-fade:hover{
	background: black;
	color: $brand-color;
	border-color: black;
}
.top-margin{
	margin-top: 50px;
}
.tracks-container{
	overflow-y: scroll;
	height: calc(100vh - 80px);
	background-color: black;
	margin: 15px 0;
}
.sign-in{
	height: 93vh;
	background-image: linear-gradient(to right, rgba(0,0,0,0.6) 45%, rgba(0,0,0,0.6) 65%), url('https://static.pexels.com/photos/167491/pexels-photo-167491.jpeg');
	background-size: cover;
	background-position: center;
}
.form-container{
	height: 91vh;

	i{
		font-size: 8em;
		color: #1ED760;
		width: 0 auto;
		transition: color 1s;
	}
	i:hover{
		color: $brand-color;
	}
}
.form-control{
		background-color: transparent;
		border: 2px solid $brand-color;
		border-radius: 10px;
		color: white;
}
.form-control:focus{
	border-color: $brand-color;
	box-shadow: 4px 4px 15px $brand-color;
}
.btn-signin{
	margin-top: 40px;
	color: white;
	border: 2px solid #1ED760;
	border-radius: 25px;
	background-color: transparent;
	transition: border-color 0.75s;
}
.btn-signin:hover{
	background-color: transparent;
	border-color: $brand-color;
}
.setlists-container{
	background-color: $darkgray;
	padding: 20px;
	h2{
		color: white;
		margin-top: 10px;
	}
	a{
		color: $brand-color;
	}
}
.form-brand-color{
	color: $brand-color;
}
.form{
	margin-top: 100px;
}
.fullscreen{
	height: 91vh;
}
.setlist-row-container{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	background-color: black;
	margin: 15px 0;
	padding: 20px;
}
.setlist-row-details{
	padding: 25px;
}
.setlist-title:hover{
	color: white;
}
.fa-icon-lg{
	font-size: 1.4em;
}
.fa-icon-md{
	font-size: 1.1em;
}
.icon-fixed-top-right{
	position: absolute;
	top: 10px;
	right: 10px;
}
.setlist-track-flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 5px;
}
.setlist-track-details{
	p{
		margin-bottom: 0px;
	}
}