// Specific CSS for your home-page
.jumbotron{
  background-image: linear-gradient(to right, rgba(0,0,0,0.4) 45%, rgba(0,0,0,0.4) 65%), asset_url('jumbotron.jpeg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   display: block;
   height: 100vh;
  	h1{
  		font-size: 8em;
      color: $brand-color;
      text-shadow: 2px 2px 14px $darkgray;

  	}
    p{
      color: $brand-color;
    }
}

.align-verticle{
  display: flex;
  justify-content: center;
  align-items: center;
}
