<% if @tracks.empty? %>
	<h2>No Tracks in this setlist yet.</h2>
	<%= link_to "Click Here to Add Songs", setlist_tracks_path(@setlist) %>
<% else %>
	<ol>
		<% @tracks.each do |track| %>
			<li class="setlist-track"><%= track.name %> <p class="track-album">from <%= track.album %></p></li>
		<% end %>
	</ol>
<% end %>