<div class="navbar-wagon track-nav">
	<%= image_tag "vinyl.svg", class: "nav-icon" %>
	<%= image_tag "track.svg", class: "nav-icon" %>
	<i class="fa fa-search track-search" aria-hidden="true"></i>
</div>