<div class="navbar-wagon track-nav">
	<%= image_tag "vinyl.svg", class: "nav-icon", id: "album-link" %>
	<%= image_tag "track.svg", class: "nav-icon", id: "track-link" %>
	<i class="fa fa-search track-search" aria-hidden="true"></i>
</div>