<!-- <ol>
	<%# @albums.each do |album| %>
		<%# album.tracks.each do |track| %>
			<li><%#= track.name %></li>
		<%# end %>
	<%# end %>
</ol>	 -->
<% if @setlist.tracks.empty? %>
	<h2>No Tracks in this setlist yet.</h2>
	<%= link_to "Click Here to Add Songs", setlist_tracks_path(@setlist) %>
<% else %>
	<ol>
		<% @setlist.tracks.each do |track| %>
			<li><%= track.name %></li>
		<% end %>
	</ol>
<% end %>