<div class="app-container">
	<div class="row">
		<div class="col-md-4">
			<div class="track-album-container">
				<div class="nav-container">
					<%= render "setlists/track_nav" %>
				</div>
				<div class="album-container" id="style-2">
					<%= render "setlists/albums" %>
					
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	body{
		background-color: #272727;
	}
</style>

<% content_for :javascript do %>
<script type="text/javascript">

	$(".album-card").click(function(event) {
		var id = $(this).attr('id').toString()
		console.log(id);
		$('#album-track-'+id).removeClass('hidden')
	});

</script>
<% end %>
		