<div class="app-container">
	<div class="row">
		<div class="col-md-6 col-xs-12 col-md-offset-3">
			<div class="track-album-container">
				<div class="nav-container">
					<%= render "setlists/track_nav" %>
				</div>
				<div class="album-container" id="style-2">
					<%= render "setlists/track" %>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	body{
		background-color: #272727;
	}
</style>


		